/* Estilos FOOTER */
footer {
  background-color: $grisBackground;
  color: $blanco;
  padding: 3rem;
}

.footerSocial {
  text-align: right;

  ul {
    padding: 0;
  }

  ul li a i {
    transition: all ease-in-out 0.5s;
    &:hover,
    .listaIconos li a i:hover {
      color: $amarillo;
      transform: scale(1.1);
    }
  }
}

footer ul {
  margin-top: 2rem;

  li {
    display: inline;
    margin-right: 0.5rem;
    a {
      color: $blanco;
    }
  }
}

.flexFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialIcon {
  font-size: 1.3rem;
}

.copyright {
  text-align: center;
  font-weight: 300;
}
/* Fin de estilos FOOTER */
