/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos globales>>>Fondos */
// Loop para crear una clase  reutilizable para cada background color de nuestro mapa
@each $color,
$valor in $paleta {
  .fondo-#{$color} {
    background-color: $valor;
  }
}

/* Estilos globales (header, footer, tipografía, botones, etc.) */

body {
  font-family: $tipografiaGlobal;
  color: map-get($paleta, grisOscuro);
}

/* Estilos globales>>>Titulos */

h1 {
  font-size: 4rem;
  margin: 3rem 0;
  font-weight: bold;
}

h2 {
  font-size: 2.3rem;
  margin: 2rem 0;
}

.containerH1 {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos globales >>> Secciones */
.section {
  padding: 3rem;
}

/* Estilos globales >>> tarjetas */

.fichaServicio:hover,
.tarjetaAlojamiento:hover {
  transform: scale(1.05);
}