/* RESPONSIVE - MEDIA QUERIES */

/* TABLET */

@media screen and (max-width: 992px) {

  /* GLOBAL */
  .flexHeader {
    flex-direction: column;
  }

  .menu {
    text-align: center;
  }

  .headerIndex {
    height: auto;
  }

  .bloqueContenido {
    margin-top: 4rem;
  }

  h1 {
    font-size: 3rem;
    padding: 2rem;
  }

  .formularioFullWidth {
    max-width: 90%;
  }

  /* INDEX */
  .seccionContador ul {
    display: flex;
    justify-content: center;
    text-align: center;

    li {
      display: inline-block;
    }
  }

  /* SUMA TU ALOJAMIENTO */
  .containerServicios {
    flex-direction: column;
  }

  .fichaServicio {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }

  /* CONTACTO */

  .formularioContacto {
    width: 100%;
  }
}

/* MOVILES ESTÁNDAR */

@media screen and (max-width: 768px) {

  /* GLOBAL */
  h1 {
    text-align: center;
  }

  .section {
    padding: 1rem;
  }

  .bloqueContenido {
    flex-direction: column;
    margin-top: 0;
  }

  .flexFooter {
    flex-direction: column;
    text-align: center;
  }

  .footerSocial {
    text-align: center;

    ul {
      margin-top: 1rem;
    }
  }

  .copyright {
    margin-top: 1rem;
  }

  /* INDEX */
  .sectionContainer {
    flex-direction: column;
    text-align: center;
  }

  .sectionContainerItem,
  .indexImgContainer,
  .indexImgContainer img {
    max-width: 100%;
    width: 100%;
  }

  /* PAGINAS INTERNAS */
  .parrafoQuienesSomos {
    font-size: 1rem;
  }

}

/*  MÓVILES MINI */

@media screen and (max-width: 375px) {

  /*GLOBALES*/
  header nav div.container-fluid {
    flex-direction: column;
  }

  .ocultarXS {
    display: none;
  }

  /* PAGINAS INTERNAS*/
  .tarjetaAlojamiento {
    margin-left: 0;
    margin-right: 0;
  }

  .fichaServicio {
    padding: 1rem;
  }

  .listaContacto li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}